@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:ital,wght@0,700;1,400&family=Stick+No+Bills:wght@200;800&display=swap');

*{
  margin: 0;
  padding:0;
  font-family: montserrat;}

  .banner {
    width: 100%;
    height:100%;
    background-color: white;
    z-index: -1;

  }
/*Navigation bar*/

  .logo {
    font-family: 'Stick No Bills';
    font-size: 70px;
    font-weight: 800;
    color: rgba(31, 30, 30, 0.9);
  }

  strong {
    color:rgb(0, 149, 218) ;
    font-weight: 900;
  }

  .navbar {
    max-width: 100%;
    margin-left: 35px;
    padding: 20px 0;
    display:inline-flex;
    align-items:center ;
  }

  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    left:300px;
    position: relative;
    text-transform:uppercase;

    
  }
  .navbar ul li a{
    text-decoration: none;
        color:rgba(31, 30, 30, 0.8);
    text-transform: uppercase;
    font-weight: 600;
  }
  .navbar ul li a:hover, 
  .navbar ul li a.active { 
  background:rgb(0, 149, 218);
  color:white;}

  .navbar .contact{
    color:white;
    background:#068bf8 ;
    padding: 5px;border-radius: 5px;
  }

  .navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background:#068bf8;
    position: absolute;
    left:0;bottom: -10px;
    transition: 0.5s;}
    
    .navbar ul li:hover::after{
    content:'';
    height: 3px;
    width: 100%;
    background:rgb(0, 149, 218) ;
    color: rgb(0, 149, 218) ;
    position: absolute;
    left:0;bottom: -10px;}

    .navbar .sign-in:hover{
      color:#068bf8;
    background:white ;
    }
    

    /* 3D box animation*/

    input{
      height: 50px;
      width: 200px;
      padding:10px 10px 10px 10px;
      background:#068bf8;
      color:white;
      font-size: 20px;
      font-weight: 500;
      border-color: white;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      align-items: center;
      top:0px;
      left:700px;
    }
    input:hover {
      background: crimson;
    }

    input:hover::after {
      background: crimson;
    }

    /*clock*/

.clock {
  position: absolute;
  margin-top:-25px;
  margin-left: -30px;
  font-weight: 200;
  font-size: 16px;
  background-color:transparent;
  color: rgba(0, 0, 0, 0.8);
  height:20px;width:500px;
  transform: scale(0.5);
}
#clock {max-width: 100%;}

  
    input:focus~ .box #front{
      transform: translateZ(180px) rotateY(360deg);background: rgba(24, 188, 125, 0.8);
    }
    input:focus~ .box #back{
      transform: translateZ(-180px) rotateY(360deg);background: rgba(0, 0, 0, 0.8);
    }
    input:focus~ .box #left{
      right: 180px;background: rgba(59, 89, 152, 0.8);
    }
    input:focus~ .box #right{
      left:180px;background:rgba(188, 24, 136, 0.8);
    }
    input:focus~ .box #top{
      bottom:180px;background: rgba(240, 148, 51, 0.8);
    }
    input:focus~ .box #bottom{
      top:180px;background:rgba(85, 172, 238, 0.8);
    }
    .container{
     height: 60vh;
     width: 30vw;
     top:50vh;
     left:50vw;
     transform:translate(-50%, -50%); 
     perspective: 1000px;
     transform: scale(0.75);
    }

    .box{
      height: 250px;
      width:250px;
      position: absolute;
      top:0px;
      left:1100px;
      /* transform: rotatde(-90 deg); */
      transform-style:preserve-3d;
    
      animation:animate 20s infinite;
    }
    @keyframes animate{
      0%{
        transform:rotateX(90deg) rotateY(-90deg) ;
      }
      25%{
        transform:rotateX(-90deg) rotateY(-90deg) ;
      }
      50%{
        transform:rotateX(90deg) rotateY(90deg) ;
      }
      75%{
        transform:rotateX(-90deg) rotateY(90deg) ;
      }
      100%{
        transform:rotateX(90deg) rotateY(-90deg) ;
      }
    }

    .card {
      height: 250px;
      width:250px;
      text-align: center;
      padding: 84px 0px;
      color:white;
      background-color: rgba(0, 149, 218, 0.8);
      border:0.5px solid transparent;
      border-radius: 10px;
      font-size: 30px;
      box-sizing: border-box;
      position: absolute;
      transition: all 1s;
      z-index: 2;
    }

    a{
      color:#F8FFFD;
      text-decoration: none;}

    #front {
      transform: translateZ(125px);
    }
    #back {
      transform: translateZ(-125px);
    }
    
    #left{
      right:125px;
      transform: rotateY(-90deg);
    }
    #right{
      left:125px;
      transform: rotateY(90deg);
    }
    #top{
      bottom:125px;
      transform: rotateX(90deg);
    }
    #bottom{
      top:125px;
      transform: rotateX(-90deg);
    }

    /* 3D box animation*/
   
    .text{
      color: #F8FFFD;
      background:linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      ;position: absolute;
      top:140px;
      left:40px;
      right:-40px;
      width:95%;
      height:400px;
    }
    .text h2 {
      color: #F8FFFD; 
      position: relative;
      width: 500px;
      margin-top: 30px;
      margin-left: 30px;
      font-weight: 600;
      border-bottom: 2px solid white;
      padding-bottom: 10px;
      

    }
    .text p {
      color: #F8FFFD; 
      position: absolute;
      top:100px;
      width:400px;
      margin-left: 30px;
      font-weight: 550;
      font-size: 14px;
    }
    
    /* Social Media*/

    extarea {
      resize: 10%;
    }
    
    
    
    .svg-inline--fa {
    vertical-align: -0.200em;
    }
    
    .rounded-social-buttons {
    text-align: right;
    margin-top: -50px;
    margin-left: 220px;
    width:100%;
    transform: scale(0.6);
    }
    
    .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 10px;
    margin-bottom: 0.25rem;
    }
    
    .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    }
    
    .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 25px;
    }
    
    .rounded-social-buttons .social-button.facebook {
    background: rgba(0, 0, 0, 0.8);
    }
    
    .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
    }
    
    .rounded-social-buttons .social-button.twitter {
    background: rgba(0, 0, 0, 0.8);
    }
    
    .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
    }
    
    .rounded-social-buttons .social-button.linkedin {
    background: rgba(0, 0, 0, 0.8);
    }
    
    .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
    }
    
    .rounded-social-buttons .social-button.youtube {
    background: rgba(0, 0, 0, 0.8);
    }
    
    .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
    }
    
    .rounded-social-buttons .social-button.instagram {
    background: rgba(0, 0, 0, 0.8);
    }
    
    .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
    }
    hr {
      margin-top: 40px;
    }